<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.css"/>

  <title>Access Log Parser</title>
  <style>
    .active {
      border-bottom: 1px dashed gray;
    }

    .ui.table thead tr:first-child > th {
     position: sticky !important;
     top: 0;
     z-index: 2;
    }

    .file-item {
      padding: 5px;
    }
  </style>
</head>
<body>
  <div id="root" class="container-fluid">
      <h3 class="ui header">IDfy Log Parser</h3>
      <hr/>
      <div class="row">
        <div class="col-3">
          <h4 class="ui header">LOG FILES</h4>
          <ol class="files ui ordered list">
            <% for (const file of files) { %>
              <li class="file-item">
                <a class="file-name" href="/logs/<%= file %>">
                  <%= file %>
                </a>
              </li>
            <% } %>
            </ol>
        </div>
        
        <div class="col-9">
          <h4 class="header">LOGS</h4>
          <div class="table-responsive" style="overflow-x:auto">
            <table id="logs" class="table table-bordered table-sm" >
              <thead>
                <tr>
                  <th >Date(IST)</th>
                  <th>Time</th>
                  <th>HTTP Method</th>
                  <th>Url</th>
                  <th>Controller</th>
                  <th>Query</th>
                </tr>
              </thead>
              <tbody>
                <% logs.forEach(log => { %>
                    <tr>
                      <td style="display: inline-block; width: 110px;">
                        <%= log.date %>
                      </td>
                      <td>
                        <%= log.time%>
                      </td>
                      <td>
                        <%= log.method %>
                      </td>
                      <td>
                        <%= log.path %>
                      </td>
                      <td>
                        <%= log.controller %>
                      </td>
                      <td>
                        <%= log.query %>
                      </td>
                    </tr>
                <% }) %>
              </tbody>
              <tfoot>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Method</th>
                    <th>Url</th>
                    <th>Controller</th>
                    <th>Query</th>
                </tr>
            </tfoot>
            </table>
          </div>
        </div>
      </div>
  </div>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="/scripts/lodash/lodash.js"></script>
  <script src="/scripts/moment/moment.js"></script>

 
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.js"></script>
  <script type="text/javascript" src="/app/index.js"></script>

  <script type="text/javascript">

    $(function($) {
     var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
     $('.files a').each(function() {
      if (this.href === path) {
       $(this).addClass('active');
      }
     });
    });
   
  </script>
</body>
</html>

